.team-banner{
  display: flex;
  align-items: center;
  gap:10px;
}
.team-banner h3{
  font-size: 25px;
  margin-bottom: 0;
}

.custom-image{
  width: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.total{
  font-weight: 600;
}

.match-result{
  margin-top: 50px;
}
.match-result h1{
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0;
}
.match-result p{
text-align: center;
font-weight: 700;
}

.match-result-title{
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
}
.match-result-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  color:red;

}
.end-div{
margin-bottom: 40px;
}
